* {
  font-family: "Roboto", sans-serif;
}
form {
  width: 70%;
  margin-top: 10rem;
}

#nombre {
  font-family: "PT Sans Narrow", sans-serif;
}

.about {
  padding: 10rem;
  margin: 30rem;
  background-color: blueviolet;
}
